@keyframes transformItems {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes untransformItems {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes scaleAnim {
	0% {
		transform: scale(1) translateX(-200px);
	}
	100% {
		transform: scale(1.3) translateX(-200px);
	}
}
@keyframes scaleAnimB {
	0% {
		transform: scale(1) translateX(200px);
	}
	100% {
		transform: scale(1.3) translateX(200px);
	}
}

@keyframes dash {
	100% {
		stroke-dashoffset: 500;
		visibility: hidden;
	}
}
@keyframes dash-r {
	100% {
		stroke-dashoffset: 0;
	}
}
// @keyframes scaleAnimAfter {
// 	0% {
// 		transform: scale(1);
// 	}
// 	100% {
// 		transform: scale(1.3) translateX(-200px);
// 	}
// }

// @keyframes scaleAnimAfterB {
// 	0% {
// 		transform: scale(1);
// 	}
// 	100% {
// 		transform: scale(1.3) translateX(200px);
// 	}
// }

@keyframes stroke-word-anim {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}
@keyframes line-word-anim {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}
@keyframes line-word-anim-s {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}

@keyframes cursorRotation {
	0% {
		transform: translate(-50%, -50%) rotate(0);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

@keyframes hidePastEl {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
